@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@font-face {
    font-family: "BOOterZZ";
    src: url(fonts/BOOTERZZ.ttf);
    font-weight: normal;
    font-style:normal;
}

*{
    box-sizing: border-box;
    font-family:"Roboto","Lora","Manrope";
    font-weight: normal;
}

  html,body{
      margin:0;
      padding:0;
      background-color:#f3eefc;
  }
  .main-header { 
    font-family: Roboto;
  }

  .name{
    text-align: left;
    padding:0.5em;
    margin: 0;
    font-size:6em;
    font-family:"BOOTERZZ";
    font-weight:500;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    color:white;
  }

  .navbar{
    margin:0;
    padding:0;
    height: 52px;
    background-color:#0E1126;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:1; 
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float:right;
    font-size: 1.1em;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:all 0.6s;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden; 
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1.1em;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .nav-option a{
    transition:all 0.6s;
  }
  /* Add a background color to navbar links on hover */
  .nav-option a:hover{
    border:solid 1px rgb(11, 134, 235);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    color:rgb(60, 14, 121);
    background-color:#f3eefc ;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color:rgb(60, 14, 121);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border:solid 4px #d9c9f5;
    text-align: left;
  }
  
  /* Add background color to dropdown links on hover */
  .dropdown-content a:hover {
    font-weight: bold;
  }
  .dropdown:hover
  {
    border:solid 1px rgb(15, 116, 199);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .super-container{
    max-width: 90%;
    margin:1rem auto;
    display:flex;
    flex-direction:column;
  }

  .container h1{
    color:#0E1126;
    text-align:center;
    font-weight:600;
    font-size:2em;
    transition: all 0.6s;
    opacity:0.75;
  }

  .container h1:hover {
    font-weight:800;
    font-size:2.4rem;
    opacity:0.9;
  }

  .skill-main-header{
    text-align:center;
  }

  .content{
    color:rgb(21, 9, 75);
    font-size:1.4em;
    padding-bottom: 1.5em;
    line-height: 1.6em;
    letter-spacing: 1.2px;
  }

  .meimg{
    width: 200px;
    float:left;
    margin:0px 25px;
    border-radius:50%;
    box-shadow: 10px 10px 10px rgba(182, 167, 184, 0.4);
    transition: all 0.6s ease-in-out;
  }
  
  .meimg:hover{
    padding:5px;
    border-radius:50%;
    box-shadow: 10px 15px 20px rgba(103, 68, 185, 0.4);
    transform:scale(1.15,1.15);
  }

  .skills-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-content: space-around; 
  }

  .skill-header{
    text-align:center;
    font-size:1.2em;
  }

  .card{
    width:21.25em;
    height:27.5em;
    margin-bottom:3.1rem;
    perspective:800px; 
  }

  .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:rgb(218, 207, 245);
    box-shadow: -12px 12px rgba(165, 139, 233, 0.4);
    border-radius: 10%;
    padding: 1em;
    color:#0E1126;
    transition: transform 1.5s;
    transform-style: preserve-3d;

  }
  .card:hover .card-content{
    transform: rotateY(180deg);
  }

  .front,
  .back 
  {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .front{
    transform: translateZ(30px);
  }

  .back{
    transform: translateZ(-40px) rotateY(180deg);
  }

  .card p{
    line-height:1.5em;
  }

  .poster{
    width:300px;
    height:200px;
    border-radius: 5%;
  }

  .card-link{
    display:flex;
    justify-content:center;
  }

  .card a{
    display: inline-block;
    padding: 0.5em;
  }

  .cp-links a:hover{
    background-color:rgba(255,255,255,0.3);
  }

  .card p{
    text-align:center;
    font-size:1.1em;
  }

  .webd-btn{
    margin-bottom: 1.1em;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to bottom right,rgb(174,153, 237), rgb(207, 79, 232));
    border: 4px solid white;
    border-radius: 15px;
  }

  .webd-btn:active {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .main-footer{
    background-color: #1C252C;
    color:rgb(255, 255, 255);
    padding:.25em 0;
  }

  .main-footer-container
  {
    display: flex;
    justify-content:center;
  }

  .main-footer-container ul
  {
    flex-grow: 1;
    text-align:center;
    padding:0;
  } 
  
  .footer-nav li
  {
    display: inline;
    padding:0 0.5em;
  }

  .footer-nav a
  {
    display:inline-block;
    padding: 1.1em;
    color :white;
    text-decoration: none;
    transition: transform 0.5s;
  }

  .footer-nav a:hover{
    transform:scale(1.3);
  }

  .contact-header{
    margin-bottom:0;
    font-family:'Metal Mania','Franklin Gothic Medium','Arial Narrow';
    font-weight: normal;
    font-size:2.5rem;
    text-align: center;
  }

  @media only screen and (max-width:550px)
  {
    .name{
      text-align: center;
      padding:0.5em 0.5em;
      font-size:4rem;
      font-weight:500;
    }

    .navbar a {
      font-size: 0.95rem;
      padding: 15px 9px;
    }

    .dropdown .dropbtn {
      font-size: 0.95rem;
      padding: 15px 9px;
    }

    .meimg{
      float:none;
      width: 165px;
      display:block;
      margin:0 auto;
    }

    .content{
      text-align:center;
      font-size:1.2em; 
    }

    .container h1{
      font-size:1.6rem;
      transition: all 1s;
    }
  
    .container h1:hover {
      font-size:2rem;
    }
    .webd-btn{
      font-size: 1.1rem;
      padding: 12px 20px;
    }
    
    .card{
      width:275px;
      height:370px;
    }

    .card-content{
      font-size: 0.9rem;
    }

    .poster{
      width:242px;
      height:160px;
    }

  }